{% extends 'applicant/base.html' %}

{% block title %}Student Portal{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-offset-3 col-md-offset-3 col-sm-6 col-md-6 col-12">
			{% if user.applicant %}

				<div class="panel panel-default">
					<div class="panel-body">
						{% include 'applicant/messages.html' %}

						{% if profile.is_filled %}
							{% if profile.is_group_formed %}
 								<div class="container-fluid text-center">
									Download and print the documents below before reporting to the venue<br>
									<a href="{% url 'portal:final-list' %}"><button type="button" class="btn btn-success">Get documents</button></a>
								</div>
							{% else %}
								<div class="text-center">
									<a href="{% url 'portal:applications' %}"><button type="button" class="btn btn-success">Fill Applications</button></a>
								</div>
							{% endif %}

							<table class="table">
								<thead>
									<tr>
										<th colspan="2" class="text-center">Group details</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>Internship type</th>
										<td>
											{% if profile.internship_type == 'T' %}
												Training
											{% else %}
												Project
											{% endif %}
										</td>
									</tr>
									<tr>
										<th>Duration</th>
										<td>{{ profile.duration }}</td>
									</tr>
									<tr>
										<th>Slot</th>
										<td>{{ profile.slot }}</td>
									</tr>
									<tr>
										<th>Course</th>
										<td>{{ profile.course }}</td>
									</tr>
									<tr>
										<th>Department</th>
										<td>{{ profile.department }}</td>
									</tr>
									<tr>
										<th>Group strength</th>
										<td>{{ profile.group_strength }}</td>
									</tr>
								</tbody>
							</table>
							{% if profile.is_group_formed %}
							{% else %}
								<div class="text-center">
									<strong class="text-danger">Deleting form will delete all the applications submitted and new applications will be rendered</strong>
									<a href="{% url 'portal:internship-edit' %}"><button type="button" class="btn btn-danger">Delete and fill new form</button></a>
								</div>
							{% endif %}
						{% else %}
							<div class="container-fluid text-center">
								Start filling internship details to continue
								<a href="{% url 'portal:internship-form' %}"><button type="button" class="btn btn-info">Fill Application</button></a>
							</div>
						{% endif %}
					</div>
				</div>
			{% else %}

				<div class="panel panel-default">
					<div class="panel-body">
						{% include 'applicant/messages.html' %}
					</div>
				</div>

			{% endif %}
		</div>
	</div>
</div>

{% endblock %}
