<html>
<head>
	<title>Rules and regulations</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'portal/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'portal/pdf.css' %}">
</head>
<body>
	<div class="container-fluid">
		<div class="text-center">
			<h1><b>Rules and regulations</b></h1>
		</div>
		<div>
			<ul style="list-style-type: decimal;">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
</body>