{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

	<style>

		.login100-more{

			display: grid;
            max-width: 100%;
            max-height: 100vh;

		}
		.center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;}

	</style>
	<title>Student Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static "portal/img/portal_short.ico" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "portal/login/vendor/bootstrap/css/bootstrap.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "portal/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "portal/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "portal/login/vendor/animate/animate.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "portal/login/vendor/css-hamburgers/hamburgers.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "portal/login/vendor/animsition/css/animsition.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "portal/login/vendor/select2/select2.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "portal/login/vendor/daterangepicker/daterangepicker.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "portal/login/css/util.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "portal/login/css/main.css" %}">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">

				<form class="login100-form" action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<span class="login100-form-title p-b-43">
						Student Login
					</span>
					<div>
						{% include 'accounts/form_template.html' %}
						<div class="submit-row" style="text-align: left;">
							<button type="submit" class="login100-form-btn">Login</button>
							<a href="{% url 'accounts:password-reset' %}" style="float: right;">Forgot your password?</a>
							<span style="float: right;">&nbsp;|&nbsp;</span>
							<a href="{% url 'home_page' %}" style="float: right;">Register</a>
						</div>
					</div>
				</form>





				<div class="login100-more" style="background-image: url("{% static '/portal/login/images/research-portal.svg' %}");">
					<img class = "center-fit" src = "{% static "/portal/login/images/research-portal.svg" %}" height=750px>
				</div>
			</div>
		</div>
	</div>





<!--===============================================================================================-->
	<script src="{% static "portal/login/vendor/jquery/jquery-3.2.1.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "portal/login/vendor/animsition/js/animsition.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "portal/login/vendor/bootstrap/js/popper.js" %}"></script>
	<script src="{% static "portal/login/vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "portal/login/vendor/select2/select2.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "portal/login/vendor/daterangepicker/moment.min.js" %}"></script>
	<script src="{% static "portal/login/vendor/daterangepicker/daterangepicker.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "portal/login/vendor/countdowntime/countdowntime.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "portal/login/js/main.js" %}"></script>

</body>
</html>
