{% extends 'accounts/profile_base.html' %}

{% block title %}Enter E-mail id{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-offset-3 col-md-offset-3 col-sm-6 col-md-6">
				<div class="panel">
					<div class="panel-body">
						{% include 'accounts/messages.html' %}
						<h3 class="text-center">Enter E-mail to set new password</h3>
						<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<div>
								{% include 'accounts/form_template.html' %}
								<div class="submit-row onesubmit">
									<button type="submit" class="btn btn-success">Send E-mail</button>
								</div>
							</div>	
						</form>
					</div>
				</div>
		</div>
	</div>
</div>
		
{% endblock %}

