{% extends 'applicant/base.html' %}

{% block title %}Application Details{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-offset-3 col-md-offset-3 col-sm-6 col-md-6 col-12">
			<div class="panel panel-default">
				<div class="panel-body">
					{% include 'official/messages.html' %}
					<div style="border: 1px solid black;height: 142px;width: 110px; margin: 0 auto;">
						<img src="{{ application.applicant_photo.url }}" alt="{{ application.applicant_name }}" width="110px" />
					</div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th colspan="4" style="text-align: center;">
									<h3>{{ application.application_no }}</h3>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>Name</th>
								<td>
									{{ application.applicant_name }}
								</td>
								<th>Date of birth</th>
								<td>{{ application.date_of_birth }}</td>
							</tr>
							<tr>
								<th>Mobile no</th>
								<td>{{ application.mobile_no }}</td>
								<th>E-mail</th>
								<td>{{ application.email }}</td>
							</tr>
							<tr>
								<th>Department</th>
								<td colspan="3">{{ application.user.applicant.get_department_display }}</td>
							</tr>
							<tr>
								<th>Project Title</th>
								<td colspan="3">{{ application.slot.title }} </td>
							</tr>
							<tr>
								<th>Statement of Purpose</th>
								<td colspan="3"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently </td>
							</tr>
							<tr>
								<th>Curriculum Vitae</th>
								<td colspan="3"><a target="_blank" href="{{ application.cv.url }}">View</a></td>
							</tr>
						</tbody>
					</table>
					<h2 class="text-center">Actions on application</h2>
					<div class="submit-row onesubmit">
						{% if not application.verified %}
							<a href="{% url 'portal:application-verify' application.id %}"><button type="button" class="btn btn-success">Verified</button></a>
							<a href="{% url 'portal:application-reject' application.id %}"><button type="button" class="btn btn-danger">Reject</button></a>
						{% else %}
							Application Verified
						{% endif %}
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
